Repository Frosendroska/nnbuilder: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yml:

flags:
  front-end:
    paths:
      - frontend
  back-end:
    paths:
      - nnbuilder

interation
  .circleci/config.yml
  build.gradle
  nnbuilder/build.gradle
Due: back-end

Update config.yml
  .circleci/config.yml
Due: none

edit config
  codecov.yml
Due: none

no carryforward
  codecov.yml
Due: none

react test
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/clients.ts
  frontend/src/clients.ts
  frontend/src/components/App.tsx
  frontend/src/components/test/App.test.tsx
  frontend/src/example/test/silly.test.ts
  frontend/src/index.tsx
Due: front-end

update tokaignore
  .tokeignore
Due: none

codecov setup (#9)
  .circleci/config.yml
  .tokeignore
  README.md
  build.gradle
  codecov.yml
  frontend/build.gradle
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/clients.ts
  frontend/src/clients.ts
  frontend/src/components/App.tsx
  frontend/src/components/test/App.test.tsx
  frontend/src/example/test/silly.test.ts
  frontend/src/index.tsx
  nnbuilder/build.gradle
  nnbuilder/src/test/kotlin/org/hse/nnbuilder/services/SumServiceTest.kt
Due: front-end, back-end

main classes declaration CNN/LSTMNN/RNN
  Conspects/NeuralNetwork.md
  Conspects/images/img.png
  Conspects/images/img_2.png
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/AbstractNeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/ConvolutionalNeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/LongShortTermMemoryNeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/RecurrentNeuralNetwork.java
Due: back-end

Fix string comparison in .dev.env
  .dev.env
Due: none

Add docker-compose to ci
  .circleci/config.yml
Due: none

.env
  .circleci/config.yml
  scripts/dotenv.sh
Due: none

update script
  scripts/dotenv.sh
Due: none

use abs path
  build.gradle
  scripts/dotenv.sh
Due: none

use buildDir
  build.gradle
Due: none

fix script
  scripts/dotenv.sh
Due: none

Update script
  scripts/dotenv.sh
Due: none

install envsubst
  .circleci/config.yml
Due: none

add envoy args
  .circleci/config.yml
Due: none

install docker
  .circleci/config.yml
Due: none

actually install docker?
  .circleci/config.yml
Due: none

try setup docker
  .circleci/config.yml
Due: none

а так
  .circleci/config.yml
Due: none

try machine circleci
  .circleci/config.yml
Due: none

not list
  .circleci/config.yml
Due: none

image
  .circleci/config.yml
Due: none

try without updating docker-compose
  .circleci/config.yml
Due: none

Revert "try without updating docker-compose"
  .circleci/config.yml
Due: none

use bash
  scripts/dotenv.sh
Due: none

improve caching
  .circleci/config.yml
Due: none

Add docker-compose to ci (#10)
  .circleci/config.yml
  build.gradle
  scripts/dotenv.sh
Due: none

Update README.md
  README.md
Due: none

user credentials added
  nnbuilder/build.gradle
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/NnbuilderApplication.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/User.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/UserDTO.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/UserRepository.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/UserService.kt
  nnbuilder/src/main/resources/application.properties
Due: back-end

correct application properties
  nnbuilder/src/main/resources/application.properties
Due: back-end

login function
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/exception/InvalidPasswordException.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/exception/UserNotFoundException.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/LoginDTO.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/User.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/UserRepository.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/UserService.kt
Due: back-end

password is hidden
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/User.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/UserService.kt
Due: back-end

some fixes
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/User.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/UserRepository.kt
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/user/UserService.kt
Due: back-end

some structure
  Conspects/NeuralNetwork.md
  Conspects/images/img.png
  Conspects/images/img_2.png
  README.md
  nnbuilder-api/src/main/proto/network.proto
  nnbuilder/build.gradle
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/AbstractNeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/ConvolutionalNeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/Layer.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/LongShortTermMemoryNeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/NeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/Neuron.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/RecurrentNeuralNetwork.java
  nnbuilder/src/main/resources/application.properties
Due: back-end

FF and RNN are implemented
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/ConvolutionalNN.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/ConvolutionalNeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/FastForwardNN.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/Layer.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/LongShortTermMemoryNeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/LongTermMemoryNN.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/NeuralNetwork.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/Neuron.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/RecurrentNN.java
  nnbuilder/src/main/kotlin/org/hse/nnbuilder/RecurrentNeuralNetwork.java
Due: back-end
